.container {
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem 0 1.8rem;
    background: #1a73e8;
    border: solid black 0.1px;
    color: white;
}

.left {
    display: flex;
    align-items: center;
}

.menuBtn {
    cursor: pointer;
}

.title {
    padding: 0 0 0 1.5rem;
    font-size: 1.6rem;
    font-weight: 500;
}

.drawer {
    width: 30%;
}

.drawerMenu {
    padding: 1rem;
}

.logoutBtn {
    cursor: pointer;
}