.container {
  padding: 0, 5rem;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  margin: 0rem;
}

.ul {
    display: flex;
    flex-direction: column;
}

.li {
    margin: 0.3rem 0 0 1rem;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
}

.emoji {
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0.9rem 0;
}

.navText {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  margin: 0 0 0 1rem;
}