
.titleSectionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0 0 0;
}

.titleContainer {
    display: flex;
    font-size: 2rem;
    font-weight: 500;
}

.titleEmoji {
    margin: 0 0 0 1rem;
}
