.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    margin: 1rem
}

.formWrapper {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.input {
    margin: 1rem 0;
}

.noAccountYetText {
    margin: 1rem 0 0 0;
}