.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardContainer {
  margin: 1rem 0 0 0;
  width: 90%;
  background: #1400ff16;
  min-height: 400px;
  padding: 0.5rem;
}

.input {
  margin: 2rem 0;
}

.top {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
  height: 25%;
}

.cardTitle {
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem 0 0;
}

.cardTitleText {
    margin: 0 0 0 1rem;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nextBtnText {
  display: none;
}

.cardTitleEmoji {
    font-size: 2rem;
}

@media screen and (min-width: 40rem) {
  .cardTitle {
    font-size: 2rem;
  }

  .nextBtnText {
    display: block;
  }

  .cardContainer {
    width: 60%;
  }
}
