.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardContainer {
    margin: 3rem 0 0 0;
    width: 60%;
    background: #98B4D4;
    min-height: 400px;
    padding: 0 0.4rem;
}

.input {
    margin: 2rem 0;
}

.top {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
    height: 25%;
}

.cardTitle {
    font-size: 2rem;
    margin: 1rem 0 0 1rem;
    font-weight: 600;
}

